{%extends 'base.html'%}
{% block title %}Form{%endblock%}
{% block content %}
<div style="width: 50%; margin: auto">
  <h3>Ratings</h3>
  <form>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input type="Name" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{%endblock%}